body {
  box-sizing: border-box; 
}

.App {
  display: grid;
  grid-template-areas:  
    "sidebar header"
    "sidebar palette"
    "sidebar form";
  grid-template-columns: 145px 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.App--header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h1 {
    font-family: $header-font;
    font-size: 75px;
    color: $font-color;
  }

  button {
    border-radius: 5px;
  }
}