.MiniPaletteArea--div {
  margin: 5px auto 5px 11px;
  border: 1px solid $border-color;
  padding: 5px;
  width: 95px;
  border-radius: 5px;
}

.MiniPalette--div--colors {
  display: flex;

  .MiniPalette--div--color {
    height: 15px;
    width: 15px;
    border-radius: 0px 3px 0px 3px;
    margin: 2px;
  }
}

.MiniPalette--div--controls {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
  width: 93px;

  p {
    width: 80px;
    overflow: scroll;
    font-size: 11px;
    font-family: $text-font;
    color: $font-color;
  }

  .far {
    margin-left: 10px;
    font-size: 9px;
    color: $font-color
  }
}