.MiniPalette--div {
  display: flex;

  .MiniPalette--div--color {
    height: 15px;
    width: 15px;
    border-radius: 0px 3px 0px 3px;
    margin: 2px;
  }
}

.MiniPalette-div-controls {
  display: flex;

  p {
    margin: 3px;
    font-size: 15px;
  }

  .fas,
  .far {
    margin: 3px;
  }
}