.Sidebar--div {
  grid-area: sidebar;
  box-shadow: 2px 0px 2px #00000047;
  height: 100vh;

  h2 {
    font-family: $header-font;
    font-size: 30px;
    margin: 5px;
    color: #353131;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input,
    button {
      margin: 5px;
      border-radius: 5px;
      width: 120px;
      border: 1px solid black;
    }
  }
}