.Sidebar--div {
  grid-area: sidebar;
  box-shadow: 2px 0px 2px #00000047;
  height: 100vh;
  min-height: 540px;

  h2 {
    font-family: $header-font;
    font-size: 30px;
    margin: 5px;
    color: $font-color;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input,
    button {
      margin: 5px;
      border-radius: 5px;
      width: 120px;
      border: 1px solid $font-color;
    }
  }
}